*{
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background-image: url('./../images/backgroundimg.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.mk-logo {
    width: 40%;
    position: relative;
    left: 30%;
}

.pick-fighter {
    button {
        padding: 40px;
        width: 20%;
        font-family: 'Press Start 2P', cursive;
        border-radius: 10px;
        font-size: 30px;
        position: relative;
        animation: blink-button 1s infinite;
        left: 40%;
        outline: none;
        background-image: radial-gradient(#FF7827 10%, #FC231B 30%, #7C010C 65%, #2B1410 100%);
        border: none;
    }
    @keyframes blink-button {
        0%, 49% {
            opacity: 1;
        }
        50%, 100% {
            opacity: .5;
        }
    }
    button:active {
        color: white;
        background-image: none;
        background-color: black;
    }
}
