* {
    box-sizing: border-box;
  }
  
img {
    width: 100%;
  }

body {
    background-image: url("images/backgroundimg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.col-5 {
    height: 600px;
}

.health {
    background-color: blue;
    height: 35px;
    border: solid 1px yellow;
}

.fightspace {
    text-align: center;
}

.fighter {
    position: relative;
    top: 20px;
    width: 90%;
}

.centerimg {
    position: relative;
    top: 35%;
}